@import "~bootstrap/scss/bootstrap";
$primary-color:#F5F5F5;
$second-color:#E8505B;
html,
body {
  font-size: 16px;
  height:100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6,
p {
  font-weight: 400;
}

li {
  list-style: none;
}
.btn-primary{
  background-color: $second-color;
  border:none;
  &:hover{
    background-color: $primary-color;
    color:$second-color;
  }
}